NODE_ENV=development
APP_NAME=TrackCOVID
APP_DOMAIN=http://localhost:3000
ADMIN_DOMAIN=http://localhost:3001
SERVER_DOMAIN=http://localhost:8000
ABOUT_URL=https://trackcovid.net
APP_THEME=dark
ESTIMATED_DX_DELAY_DAYS=7
CONTACT_WINDOW_HOURS_BEFORE=1
CONTACT_WINDOW_HOURS_AFTER=2
MONGODB_URI=mongodb://localhost/checkpoints
SESSION_KEY=abc123
REDIRECT_HTTPS=false
REDIRECT_WWW=false
CHECKPOINT_KEY_LENGTH=16
ADMIN_REGISTRATION_URL=https://forms.gle/J38BLRpFtRFT846Z8
GOOGLE_API_KEY=your-google-api-key
SENDGRID_API_KEY=my-api-key
ADMIN_EMAIL_FROM=johndoe@hello.world
LOCIZE_PRODUCT_ID=my-product-id
